<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout-Builder</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>

  <body>
    <header>
      <!-- nav bar with login and save link  -->
      <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="#" class="brand-logo">Grit To Glory</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Login</a></li>
            <li><a href="">Sign-up</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="row center-align button">
      <a class="waves-effect blue darken-4 btn-large">Build a Workout</a>
    
    </div>
    {{{body}}}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>

</html>