<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout-Builder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />


  </head>

  <body>
    <header>
      <!-- nav bar with login and save link  -->
      <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="/" class="brand-logo">Grit To Glory</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signUp">Sign-up</a></li>
          </ul>
        </div>
      </nav>
    </header>
     {{{body}}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>

</html>