<div class="row center-align button">
      <a class="waves-effect blue darken-4 btn-large" href="/userInput">Build a Workout</a>
    </div>
<div class="containter ">
  <div class="row center-align">
    <!-- card 1 -->
    <div class="col s4">
      <div class="card" style="background-color: #e65d5d; margin: 0px;
    border-radius: 12px; padding: 2px;">
        <div class="card-img" >
          <img src="" alt="" />
        </div>

        <div class="card-content">
          <span class="card-title"> Muscular Training Routine Selection</span>
          <p>
            <ul>
              <li>Advanced: +2 Years of consistent training.</li>
              <li>Intermediate: 6 or more months of current training, if returning to training and you have been consistent for over 2 years in the past select intermediate.</li>
              <li>Beginner: Just starting out or getting back into working out without falling into the above categories.</li>
          
         
          </ul>
       </p>
        </div>
      </div>
    </div>
    <!-- card 2 -->
    <div class="col s4">
      <div class="card" style="background-color: #e65d5d; margin: 0px;
    border-radius: 12px; padding: 2px;">
        <div class="card-img">
          <img src="" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title"> Cardio Routine Selection </span>
          <p>
            Accelerated Fat Loss: This will be High Intensity short duration training, this is not intended to be used for more than
            6 weeks without adverse affects. Think of this category as losing fat at an accelerated date prior to a end date, like a
            wedding or the summer</p>
            <p>Endurance Training: This is optimal for cardio vascular health, it is important to maintain Muscular Training while doing endurance training to avoid maladaptation.</p>
        </div>
      </div>
    </div>
    <!-- card 3 -->
    <div class="col s4">
      <div class="card" style="background-color: #e65d5d; margin: 0px;
    border-radius: 12px; padding: 2px;">
        <div class="card-img">
          <img src="" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title"> What is in a workout routine?</span>
          <p>
            You will be suggested a workout routine for both your cardiovascular and physiological needs. While it is acceptable to interchange the exercises within the routines it is important to know that there is a definite hierarchy of effective exercises. Each Routine is meant to last for 6 weeks or less to experience optimal results.
           </p>
        </div>
      </div>
    </div>
    <!-- end of row -->
  </div>
</div>