<div class="containter">
  <div class="container login">
    <div class="row" style="margin-bottom: 0px;">
      <form class="col s12 login-form" style="background-color: #e65d5d; margin: 0px;
    border-radius: 12px; padding: 2px;">
        <div class="row">
          <div class="input-field col s12">
            <input
              placeholder=""
              id="username_login"
              type="text"
              class="validate"
            />
            <label for="first_name">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password_login" type="password" class="validate" />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row center-align">
          <!-- <i class="material-icons">lock_open</i> -->
          <button class="waves-effect blue darken-4 btn-large">Login</button>
        </div>
{{log this}}
      </form>
    </div>
  </div>
</div>
<script src="/scripts/login.js"></script>
