{{log this}}



<div class = "container">
    {{!-- {{username}} --}}
    {{!-- {{workoutInfo.experience}} --}}
    <img src="{{typeOfWorkout workoutInfo.experience workoutInfo.muscularGoal}}" alt="">


    
</div>