<div class="containter">
  <div class="container account">
    <div class="row " style="margin-bottom: 0px;">

      <form style="background-color: #e65d5d; margin: 0px;
    border-radius: 12px; padding: 2px;" class="col s12 signUp-form">
        <div class="row ">
          <div class="input-field col s12">
            <input id="user_name" type="text" class="validate" />
            <label for="user_name">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 ">
            <input id="password" type="password" class="validate" />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="waves-effect blue darken-4 btn-large">Create Account</button>
        </div>
      </form>
    </div>

  </div>
</div>
<script src="/scripts/signUp.js"></script>