<div class="containter">

<h1 class="blue-text">Before we begin..</h1>
<div class="container">
  
   <h5 class="">Tell us a little about yourself</h5>
<!-- will use the javascript version for best outcome -->
   <form action="#" style="background-color: white;">
    <p class="range-field"> weight:
      <input type="range" id="test5" min="75" max="400"/>
    </p>
  


  <p class="">Fitness Level</p>
  <select class="browser-default white-text blue darken-4">
    <option value="1">Beginner</option>
    <option value="2">Intermediate</option>
    <option value="3">Advanced</option>
  </select>

  <p class="">Muscle Goals</p>
  <select idclass="browser-default white-text blue darken-4">
    <option value="1">Build Muscle</option>
    <option value="2">Build Strength(Maximize Power)</option>
    <option value="3">Sharpen Physique(Shredding)</option>
  </select>

  <p class="">Cardio Goals</p>
  <select id="cardio" class="browser-default white-text blue darken-4">
    <option value="1">Accelerate Fat Loss</option>
    <option value="2">Improve Endurance (Cardiovascular Health)</option>
  </select>

    <p class="range-field"> Available days per week:
      <input type="range" id="test5" min="1" max="7"/>
    </p>
    <div class="row center-align">
  <button class="waves-effect waves-light blue darken-4 btn-large">Create My Workout</button>
  </div>
  </form>
  
</div>
</div>