
<section class="card">
        {{!-- if user's workout info has beginner show beginner png --}}

        {{!-- if user's workout info has intermediate & ...--}}
         {{!-- has strength selected --}}

         {{!-- has size selected --}}

        {{!-- has sharpen selected --}}


        {{!-- if user's workout info has advanced & ...--}}
       
        {{!-- has strength selected --}}
        <img src="{{typeOfWorkout workoutInfo.experience workoutInfo.muscularGoal}}" alt="">
        {{!-- has size selected --}}
        
        {{!-- has sharpen selected --}}
      
    </a>
</section>