<section class="card">
    <a href="/api/routines/{{id}}">
        {{!-- need to console log this, see what we can put on the page --}}
       
        <img src="/img/WorkoutBuilderIMGS/{{?}}" alt="">
    </a>
</section>