body {
    background-image: url(../../public/img/weightlifter.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* change image find one with better resolution */
}

.containter{
    margin: 20rem 35rem;
}

.button{
    margin: 30rem 0rem;
}

.account{
    border: solid black 2px;
    border-radius: 1rem;
}

.login{
    border: solid black 2px;
    border-radius: 1rem;
}
